.container {
    border: solid;
    margin-left: 25%;
    margin-right: 10%;
    height: 1750px;
    background-color: white;
    border-color: #AABB44;
    width:800px;
}



body{
    background-color:#DDEEAA;
    padding:0;
}


img:nth-of-type(2) {
    height: 400px;
    width: 450px;
    float: left;
}

h1:nth-of-type(1) {
  
    float: right;
    width:450px;
}

.menu {
    
    background-color: #91D734;
    color: white;
    font-size: 22px;
}

header{
    height:258px;
}

.etape1,.etape2,.etape3,.etape4,.etape5{
    margin-left:20px;
    
}

.droite{
  margin-top: 50px;
    margin-left:20px;
    margin-right:20px;
    float:left;
    
}

.article{
    float:left;
    margin-top: 30px;
    width: 650px;
}

h2 {
    border-bottom: 2px solid;
    color: #99BB22;
}