*{
    margin:0px;
    padding:0px;
    font-family: Avenir, sans-serif;
}

nav{
    width:100%;
    margin:0 auto;
    position: sticky;
    top:0px;
}

nav, ul {
    list-style-type: none;


    
}

ul li ul li{
    display:none;
    clear:both;

}

ul li:hover ul li{
    display:block;
}

ul li{
    float:left;
    background-color:aquamarine;
    width: 350px;
    text-align:center;
    height: 50px;
    line-height:50px;
    border:solid;
}

.deroulant:hover{
    background-color:crimson;
}

ul li ul li:hover {
    background-color: yellow;
}

h1{
    text-align:center;
}
